BMX_ENV=production
BMX_CLIENT_ID=
BMX_CLIENT_SECRET=
BMX_REDIRECT_URI=urn:ietf:wg:oauth:2.0:oob
BMX_PROXY_ORIGIN=https://bmx.fldr.zip
EXPO_PUBLIC_POSTHOG_PROJECT_TOKEN=
EXPO_PUBLIC_POSTHOG_HOST=https://e.fldr.zip
